/******** global ********/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 12px;
}

/******** button ********/
.btn {
    color: rgba(10, 20, 58, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn-outline {
    background-color: transparent;
}

.btn-primary {
    background-color: rgba(37, 110, 235, 1);
    color: rgba(255, 255, 255, 1);
}

.btn-large {
    padding: 20px 72px;
}

/******** header ********/
.header {
    padding: 30px 0 24px 0;
}

.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
}

.header-logo span {
    color: rgba(10, 20, 58, 1);
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    margin: 0 0 0 6px;    
}

.header-controls {
    display: flex;
}

.header-burger {
    width: 30px;
    height: 20px;
    display: none;
}

/******** search ********/

.search {
    margin: 0 0 45px 0;
}

.search-box {
    width: 100%;
    border-radius: 5px;
    background: rgba(37, 110, 235, 1);
    padding: 3px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.search-box input {
    min-width: 0;
    flex-grow: 1;
    padding: 14px 22px;
    border-radius: 5px;
    outline: none;
    border: none;
}

.search-btn {
    display: flex;
    align-items: center;
}

.search-btn .search-btn__icon {
    width: 15px;
    height: 15px;
}

.search-btn .search-btn__text {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin: 0 0 0 4px;
}

/******** content ********/
.content {
    padding: 0 0 50px 0;
}

.content-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
}

/******** content-main ********/
.content-main {
    flex-grow: 1;
}

.content-main__title {
    color: rgba(10, 20, 58, 1);
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    margin: 0 0 25px 0;
}

.content-main__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 30px;
}

.content-main__list-item:hover .content-main__list-item--title {
    color: rgba(37, 110, 235, 1);
}

.content-main__list-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc((100% - 60px) / 3);
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
}

.content-main__list-item--img {
    width: 100%;
    display: flex;
}

.content-main__list-item--img img {
    width: 100%;
}

.content-main__list-item--title {
    color: rgba(10, 20, 58, 1);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    margin: 15px 0 5px 0;
}

.content-main__list-item--price {
    color: rgba(10, 20, 58, 1);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    margin: 0 0 10px 0;
}

.content-main__list-item--description-box {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.content-main__list-item--description {
    color: rgba(196, 196, 196, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

/******** content-product ********/
.content-product {
    display: flex;
    flex-grow: 1;
    gap: 30px;
}

.content-product__left {
    flex-basis: 50%;
}

.content-product__right {
    flex-basis: 50%;
}

.content-product__title,
.content-product__price {
    color: rgba(10, 20, 58, 1);
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
}

.content-product__img {
    width: 100%;
}

.content-product__text {
    color: rgba(10, 20, 58, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
}

/******** content-side ********/
.content-side {
    width: 260px;
    min-width: 260px;
}

.content-side__title {
    color: rgba(10, 20, 58, 1);
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    margin: 0 0 24px 0;
}

.content-side__list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    border-bottom: 1px solid rgba(229, 229, 229, 1);
    padding: 0 0 36px 0;
    margin: 0 0 36px 0;
}

.content-side__list-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.content-side__list-item--title {
    color: rgba(10, 20, 58, 1);
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    margin: 7px 0 5px 0;
}

.content-side__list-item--text {
    color: rgba(10, 20, 58, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    margin: 0;
}

.content-side__footer {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.content-side__footer--item {
    color: rgba(196, 196, 196, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-decoration-line: underline;
    margin: 0;
}



/******** @media ********/

@media (max-width: 1200px) {
    .container {
        max-width: 930px;
    }

    .content-main__list-item {
        width: calc((100% - 30px) / 2);
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 730px;
    }

    .content-box {
        flex-direction: column;
    }

    .content-main {
        width: 100%;
    }

    .content-side {
        width: 100%;
        min-width: none;
    }

    .content-product {
        width: 100%;
        flex-direction: column;
    }

    .content-product__left {
        width: 100%;
        flex-basis: 100%;
    }

    .content-product__right {
        width: 100%;
        flex-basis: 100%;
    }
}

@media (max-width: 786px) {
    .container {
        max-width: 100%;
    }

    .header-controls {
        display: none;
    }

    .header-burger {
        display: block;
    }

    .search-btn .search-btn__text {
        display: none;
    }

}

@media (max-width: 480px) {
    .content-main__list-item {
        width: 100%;
    }

}